
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#three {
    position: fixed;
    left: .5em;
    top: .5em;
    width: 25%;
    border: 5px solid orange;
    padding: 0.5em;
    font-size: 150%;
}
#two {
    position: fixed;
    right: .5em;
    top: .5em;
    width: 25%;
    border: 5px solid green;
    padding: 0.5em;
    font-size: 150%;

}
#one {
    position: fixed;
    right: .5em;
    bottom: .5em;
    width: 25%;
    border: 5px solid blue;
    padding: 0.5em;
    font-size: 150%;

}
#four {
    position: fixed;
    left: .5em;
    bottom: .5em;
    width: 25%;
    border: 5px solid yellow;
    padding: 0.5em;
    font-size: 150%;

}
#link {
    position: relative;
    top: .5em;
    text-align: center;
    color: #fefefe;
    background-color: #354eb1;
    max-width: max-content;
    padding-left: .2em;
    padding-right: .2em;
    padding-bottom: .1em;
    padding-top: .1em;
    margin: auto;
    font-size: 150%;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}